.Button {
	display: inline-block;
	box-sizing: border-box;
  padding: .6em 1.4em;
	text-decoration: none;
	text-align: center;
	line-height: 1.1;
	margin: 0 .2em;
	border: none;
	background-color: @color-secondary;
	color: @color-primary-darker;
	font-size: .8em;
	font-weight: bold;
	border-radius: 1.5em;
	text-transform: uppercase;
	outline: none;

	&:visited, {
		color: @color-primary-darker;
	}

	&:hover, &:focus {
		background-color: @color-secondary-light;
	}
}
